<style>
    .demo-md-panel {
        min-height: 500px;
    }
    
    .demo-dialog-example {
        background: white;
        border-radius: 4px;
        box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2), 0 13px 19px 2px rgba(0, 0, 0, 0.14), 0 5px 24px 4px rgba(0, 0, 0, 0.12);
        width: 500px;
    }
    
    .demo-dialog-content {
        padding: 0 15px;
        height: 600px;
        width: 100%;
    }
    
  
    .demo-dialog-button {
        width: 100%;
    }
    
    .demo-menu-example {
        background: white;
        border-radius: 4px;
        box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2), 0 13px 19px 2px rgba(0, 0, 0, 0.14), 0 5px 24px 4px rgba(0, 0, 0, 0.12);
        width: 256px;
    }
    
    .demo-menu-item {
        align-items: center;
        cursor: pointer;
        display: flex;
        height: 48px;
        padding: 0 16px;
        position: relative;
        transition: background 0.15s linear;
        width: auto;
    }
    
    .demo-menu-item:hover,
    .demo-menu-item:focus {
        background-color: rgb(238, 238, 238);
    }
    
    .demo-menu-item.selected {
        color: rgb(16, 108, 200);
    }
</style>


<div role="dialog" layout="column" layout-align="center center">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2> {{ctrl.episode.title}}</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="ctrl.closeDialog()">
                <md-icon md-font-icon="design-icon-close_cancel_error_32" ng-style="{color: font.color, 'font-size':'24px', height: '24px'}"
                    aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <div class="demo-dialog-content">
        <md-tabs md-border-bottom layout-fill>
            <md-tab label="Media Metadata">
                <md-content class="md-padding">
                    <md-card>
                        <md-card-header>
                            <md-card-header-text>
                                <span class="md-title">{{ctrl.getTitle()}}</span>
                                <span class="md-subhead">{{ctrl.mm.guid}}</span>
                                <span class="md-subhead">{{ctrl.mm.pubDate}}</span>
                                <span class="md-subhead">{{ctrl.mm.genre}} - {{ctrl.mm.rating_type}} - {{ctrl.mm.rating}}</span>
                            </md-card-header-text>
                        </md-card-header>
                        <md-card-content>
                            <p class="md-body-1">{{ctrl.mm.short_description}}</p>
                            <p class="md-caption">{{ctrl.mm.description}}</p>
                            <md-divider></md-divider>
                            <p class="md-body-2">{{ctrl.mm.channel_title}}</p>
                            <p class="md-caption">{{ctrl.mm.channel_link}}</p>
                            <p class="md-caption">{{ctrl.mm.channel_copyright}}</p>
                            <p class="md-caption">{{ctrl.mm.license}}</p>
                            <p class="md-caption">{{ctrl.mm.restriction}}</p>
                        </md-card-content>
                    </md-card>
                </md-content>
            </md-tab>
            <md-tab label="Enrichment" ng-click="ctrl.getEpisodeEnrichment()">
                <watson-metadata-viewer watson-metadata="ctrl.episode.full_enrichment"></watson-metadata-viewer>
            </md-tab>
            <md-tab ng-click="ctrl.getSocialEnrichment()">
                <md-tab-label>
                    <div>
                        Social
                    </div>
                </md-tab-label>
                <md-tab-body>
                    <md-content>
                        <md-card>
                            <md-card-header>
                                <md-progress-circular ng-disabled="!ctrl.loadingSocial" class="md-hue-2" md-diameter="20px"></md-progress-circular>
                                <md-card-header-text>
                                    <span class="md-title">{{ctrl.getTitle()}}</span>
                                    <span class="md-subhead">Negative Tweets: {{ctrl.social.sentiment.negativeRatio|number:2}}%</span>
                                    <span class="md-subhead">Neutral Tweets: {{ctrl.social.sentiment.neutralRatio|number:2}}%</span>
                                    <span class="md-subhead">Positive Tweets: {{ctrl.social.sentiment.positiveRatio|number:2}}%</span>
                                </md-card-header-text>
                            </md-card-header>
                            <md-card-content>
                                <md-divider></md-divider>
                                <p class="md-body-1">Top 5 Keywords</p>
                                <p ng-repeat="k in ctrl.social.keywords.rows | orderBy: '-value' | limitTo:5" class="md-caption">
                                    {{k.key}}
                                </p>
                                <md-divider></md-divider>
                                <p class="md-body-1">Top 5 Concepts</p>
                                <p ng-repeat="k in ctrl.social.concepts.rows | orderBy: '-value' | limitTo:5" class="md-caption">
                                    {{k.key}}
                                </p>
                                <md-divider></md-divider>
                                <p class="md-body-1">Top 5 Taxonomy</p>
                                <p ng-repeat="k in ctrl.social.taxonomy.rows | orderBy: '-value' | limitTo:5" class="md-caption">
                                    {{k.key}}
                                </p>
                            </md-card-content>
                        </md-card>
                    </md-content>
                </md-tab-body>
            </md-tab>
            <md-tab label="External" ng-click="ctrl.getSocialEnrichment()">
                <watson-external-sources external="ctrl.external_sources"></watson-external-sources>
            </md-tab>
        </md-tabs>
    </div>
    <div layout="row" class="demo-dialog-button">
        <md-button md-autofocus flex class="md-primary" ng-click="ctrl.closeDialog()"> Close </md-button>
    </div>
</div>
