<head>

<style type="text/css">
        .selected-class-article {
          background-color:#607D8B;
          color:white;
        }
md-sidenav, md-backdrop {
position: fixed;
}
.isOpen{
  overflow:hidden
} 

.miniicon{
  margin-top:7px;
  height:40px;
  width:40px;
}
.testbutton{
  background-color:#7DB9F4;
}
.card-media-lg{
  float:right;
  height:80px;
  width:80px;
}
#banner{
  height:270px;
  width:1300px;
  background-image:url("./icons/background.jpeg");
  color:white;
  font-size:200%;
}
.watsontext{
  background-color:#3F51B5;
  color:white;
  padding:15px;
  border-radius:10px;
  margin:4px;
  margin-right:150px
}
.humantext{
  background-color:#689F38;
  color:white;
  padding:15px;
  border-radius:10px;
  margin-left:150px;
  margin-top:16px;
  margin-bottom:16px;
}


</style>
</head>
<body>
<div layout="column" id="banner" flex>
  <div layout="row">
  <h1 style="margin-left:15px">For every season</h1><br>
  <h4 style="position:relative;top:11px;margin-left:16px">find your style</h4>
  </div>
  <div layout="row">
    <div style="margin-right:130px">
    <span style="font-size:80%;margin-left:15px">Now with award winning customer service powered by IBM Watson</span>
    <md-button class="md-fab md-primary testbutton" aria-label="Ask Watson" ng-click="toggleRight(item,$index)">
      <img src="./icons/newwatson.png" class="miniicon"></img>
              <md-tooltip md-direction="down">
            Ask Watson a question!
          </md-tooltip>
    </md-button>
    </div>
  </div>
</div>
<br>
<div layout="row" style="margin-left:20px">
      <md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Red Dress</span>
            <span class="md-subhead">Now only $79.99</span>
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-lg"><img class="card-media-lg" src="./icons/dress.png"/></div>
          </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
      <md-button aria-label="button" class="md-icon-button"><i class="fa fa-cart-plus" aria-hidden="true" style="font-size:140%"></i></md-button>
      <md-button aria-label="button" class="md-icon-button"><i class="fa fa-heart" aria-hidden="true" style="font-size:140%;color:red"></i></md-button>
        </md-card-actions>
      </md-card>
  <md-card>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Yellow Dress</span>
        <span class="md-subhead">$89.99</span>
      </md-card-title-text>
      <md-card-title-media>
        <div class="sm-media-sm"><img class="card-media-lg" src="./icons/dress-7.png"/></div>
      </md-card-title-media>
    </md-card-title>
    <md-card-actions layout="row" layout-align="end center">
      <md-button aria-label="button" class="md-icon-button"><i class="fa fa-cart-plus" aria-hidden="true" style="font-size:140%"></i></md-button>
      <md-button aria-label="button" class="md-icon-button"><i class="fa fa-heart" aria-hidden="true" style="font-size:140%;color:red"></i></md-button>
    </md-card-actions>
  </md-card>
  <md-card>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Striped Dress</span>
        <span class="md-subhead">$89.99</span>
      </md-card-title-text>
      <md-card-title-media>
        <div class="md-media-lg"><img class="card-media-lg" src="./icons/dress-3.png"/></div>
      </md-card-title-media>
    </md-card-title>
    <md-card-actions layout="row" layout-align="end center">
      <md-button aria-label="button" class="md-icon-button"><i class="fa fa-cart-plus" aria-hidden="true" style="font-size:140%"></i></md-button>
      <md-button aria-label="button" class="md-icon-button"><i class="fa fa-heart" aria-hidden="true" style="font-size:140%;color:red"></i></md-button>
    </md-card-actions>
  </md-card>
</div>
<div layout="row" style="margin-left:20px">
      <md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Pink Dress</span>
            <span class="md-subhead">$99.99</span>
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-sm"><img class="card-media-lg" src="./icons/dress-6.png"/></div>
          </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
      <md-button aria-label="button" class="md-icon-button"><i class="fa fa-cart-plus" aria-hidden="true" style="font-size:140%"></i></md-button>
      <md-button aria-label="button" class="md-icon-button"><i class="fa fa-heart" aria-hidden="true" style="font-size:140%;color:red"></i></md-button>
        </md-card-actions>
      </md-card>
  <md-card>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Purple Dress</span>
        <span class="md-subhead">$89.99</span>
      </md-card-title-text>
      <md-card-title-media>
        <div class="md-media-lg"><img class="card-media-lg" src="./icons/dress-1.png"/></div>
      </md-card-title-media>
    </md-card-title>
    <md-card-actions layout="row" layout-align="end center">
      <md-button aria-label="button" class="md-icon-button"><i class="fa fa-cart-plus" aria-hidden="true" style="font-size:140%"></i></md-button>
      <md-button aria-label="button" class="md-icon-button"><i class="fa fa-heart" aria-hidden="true" style="font-size:140%;color:red"></i></md-button>
    </md-card-actions>
  </md-card>
  <md-card>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Denim Dress</span>
        <span class="md-subhead">$59.99</span>
      </md-card-title-text>
      <md-card-title-media>
        <div class="md-media-lg"><img class="card-media-lg" src="./icons/dress-5.png"/></div>
      </md-card-title-media>
    </md-card-title>
    <md-card-actions layout="row" layout-align="end center">
      <md-button aria-label="button" class="md-icon-button"><i class="fa fa-cart-plus" aria-hidden="true" style="font-size:140%"></i></md-button>
      <md-button aria-label="button" class="md-icon-button"><i class="fa fa-heart" aria-hidden="true" style="font-size:140%;color:red"></i></md-button>
    </md-card-actions>
  </md-card>
</div>

<!--Article Viewer-->
    <md-sidenav class="md-sidenav-right md-whiteframe-4dp right" md-component-id="right">
      <md-toolbar class="md-theme-light">
        <h1 class="md-toolbar-tools">Ask Watson!
        <md-button class="md-icon-button" aria-label="More" style="margin-left:400px" ng-click="refresh()"><i class="fa fa-refresh" aria-hidden="true" style="font-size:150%"></i></md-button>
        </h1>
      </md-toolbar>
      <md-content layout-padding style="padding:20px">
        <md-list>
        <md-list-item ng-repeat="node in conversation" ng-class="{ watsontext : node.speaker==='watson', humantext : node.speaker==='human'}">
        {{node.text}}
        </md-list-item>
        <div md-theme="alt" style="margin-left:150px;">
          <div ng-if="rtype==='yn'">
            <md-button class="md-fab md-mini md-primary" aria-label="Yes" ng-click="submit('Yes')">
              <i class="fa fa-check" aria-hidden="true" style="color:white">
                <md-tooltip md-direction="down">Yes</md-tooltip>
              </i>
            </md-button>
            <md-button class="md-fab md-mini md-primary" aria-label="Yes" ng-click="submit('No')">
              <i class="fa fa-times" aria-hidden="true" style="color:white">
                <md-tooltip md-direction="down">No</md-tooltip>
              </i>
            </md-button>           
          </div>
          <div ng-if="rtype==='identifier'">
            <md-button class="md-fab md-mini md-primary" aria-label="Email" ng-click="submit('Email')">
              <md-tooltip md-direction="left">Email</md-tooltip>
              <i class="fa fa-envelope" aria-hidden="true" style="color:white"></i>
            </md-button>
            <md-button class="md-fab md-mini md-primary" aria-label="OrderNum" ng-click="submit('Order number')">              
              <md-tooltip md-direction="right">Order Number</md-tooltip>
              <span style="color:white">#</span>
            </md-button>
          </div>
          <div ng-if="rtype==='address'">
            <md-button class="md-fab md-mini md-primary" aria-label="Email" ng-click="submit('1')">
              <md-tooltip md-direction="down">120 W 21st Street, New York, NY 10011</md-tooltip>
                <span style="color:white">1</span>
            </md-button>
            <md-button class="md-fab md-mini md-primary" aria-label="OrderNum" ng-click="submit('2')">              
              <md-tooltip md-direction="down">401 2nd Avenue, New York, NY 10003</md-tooltip>
              <span style="color:white">2</span>
            </md-button>
          </div>
          <div ng-if="rtype==='date'">
            <md-datepicker ng-model="myDate" md-placeholder="New delivery"></md-datepicker>
              <md-button class="md-fab md-mini md-primary" aria-label="Yes" ng-click="submit(myDate)">
              <i class="fa fa-check" aria-hidden="true" style="color:white">
                <md-tooltip md-direction="right">Submit</md-tooltip>
              </i>
            </md-button>
          </div>
          <div ng-if="rtype==='reason'">
            <md-button class="md-fab md-mini md-primary" aria-label="Email" ng-click="submit('1')">
                <md-tooltip md-direction="down">Damage</md-tooltip>
                <span style="color:white">1</span>
            </md-button>
            <md-button class="md-fab md-mini md-primary" aria-label="OrderNum" ng-click="submit('2')">              
              <md-tooltip md-direction="down">Size</md-tooltip>
              <span style="color:white">2</span>
            </md-button>
            <md-button class="md-fab md-mini md-primary" aria-label="OrderNum" ng-click="submit('3')">              
              <md-tooltip md-direction="down">Style</md-tooltip>
              <span style="color:white">3</span>
            </md-button>
          </div>            
          <div ng-if="rtype==='delivery'">                                    
            <md-button class="md-fab md-mini md-primary" aria-label="Email" ng-click="submit('1')">
                <md-tooltip md-direction="down">Pickup from a nearby store</md-tooltip>
                <span style="color:white">1</span>
            </md-button>
            <md-button class="md-fab md-mini md-primary" aria-label="OrderNum" ng-click="submit('2')">              
              <md-tooltip md-direction="down">Deliver on a different day</md-tooltip>
              <span style="color:white">2</span>
            </md-button>
            <md-button class="md-fab md-mini md-primary" aria-label="OrderNum" ng-click="submit('3')">              
              <md-tooltip md-direction="down">Change the address or location for the delivery</md-tooltip>
              <span style="color:white">3</span>
            </md-button>
            <md-button class="md-fab md-mini md-primary" aria-label="OrderNum" ng-click="submit('4')">              
              <md-tooltip md-direction="down">No Change</md-tooltip>
              <span style="color:white">4</span>
            </md-button>
        </div>
        </md-list>
        </div>
        <div id="userinput" style="padding:20px">
            <md-input-container md-no-float class="md-block">
              <input ng-model="user.input" type="text" placeholder="Enter response" my-enter="submit(user.input)">
            </md-input-container>
            <div layout="row">
              <md-button flex class="md-raised md-primary" ng-click="submit(user.input)">Ask Me!</md-button>
            </div>
          </div>
      </md-content>
    </md-sidenav>
    </div>
    </md-content>
    </md-sidenav>
    </div>
<!--       <script src="./js/common.js"></script>
  <script src="./js/api.js"></script>
  <script src="./js/conversation.js"></script>
  <script src="./js/payload.js"></script>
  <script src="./js/global.js"></script> -->
    </body>